:host {
  --score-border-width: var(--size-1);
  --score-size: var(--size-25);
  --team-size: var(--size-10);
  --button-gap: 15px;

  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--score-border-width);
  padding: var(--score-border-width) 0;
  background: white;

  &.optional.editable {
    --team-size: var(--size-5);
    grid-template-columns: 1fr 1fr 0.8fr;

    .team {
      .team-name {
        white-space: normal;
      }
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--size-1);
  overflow: hidden;
  padding: var(--size-1);

  @if false {
    color: white !important;
    -webkit-text-stroke: thick black;
  }

  &.bg-optional-team {
    --score-size: var(--size-15);
  }

  .score {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //gap: var(--button-gap);
    align-items: center;
    justify-content: space-evenly;

    .score-button {
      color: inherit;
      font-size: calc(var(--score-size) / 4);
      @if false {
        -webkit-text-stroke: 0;
        background: #00000066;
        filter: drop-shadow(0 0 5px #000000);
        border-radius: 50%;
      }
      padding: 2px !important;
      line-height: 1;
    }

    .score-value {
      font-size: var(--score-size);
      font-weight: bold;
      min-width: 2ch;
      text-align: center;
    }

  }

  .team-name {
    font-size: var(--team-size);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    -webkit-text-stroke-width: 1px;
  }

}
