:host {
  background: linear-gradient(100deg, var(--left-team-bg-color), var(--right-team-bg-color));
}

.logo {
  position: absolute;
  object-fit: contain;
  object-position: center center;
  padding: var(--size-10);
  filter: drop-shadow(0 0 var(--size-1) #222222);
}

.dimmer {
  background-color: black;
  opacity: 75%;
}

app-social-info {

}
