@font-face {
  font-family: 'heading-font';
  src: url('assets/fonts/Oswald.ttf') format("truetype");
}

@font-face {
  font-family: 'main-font';
  src: url('assets/fonts/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'postit-font';
  src: url('assets/fonts/CaveatBrush-Regular.ttf') format("truetype");
}

$size-steps: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 60, 65, 70, 75, 80, 85, 90, 100;

:root {
  --bs-body-line-height: 1; // Bootstrap defaults to 2 which isn't helpful here

  --main-font-family: 'main-font';
  --heading-font-family: 'heading-font';
  --postit-font-family: 'postit-font';
}

body {
  background: black;
  color: white;
  font-family: var(--main-font-family), sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;

  --size-base: 1vh;

  @each $step in $size-steps {
    --size-#{$step}: calc(var(--size-base) * #{$step});
  }

  --left-team-bg-color: #0b4d82;
  --left-team-text-color: white;
  //--left-team-contrast-color: hsl(
  //    from var(--left-team-bg-color)
  //    h
  //    0%
  //    calc(
  //      round(calc(abs(60 - mod(h, 120)) / 60))
  //      * calc(100 - round(l, 100))
  //      * 1%
  //    )
  //);
  --right-team-bg-color: #9a1b20;
  --right-team-text-color: white;
  //--right-team-contrast-color: hsl(
  //    from var(--right-team-bg-color)
  //    h
  //    0%
  //    l
  //);
  //--right-team-contrast-color: hsl(
  //    from var(--right-team-bg-color)
  //    h
  //    0%
  //    calc(
  //      round(calc(abs(60 - mod(h, 120)) / 60))
  //      * calc(100 - round(l, 100))
  //      * 1%
  //    )
  //);
  --optional-team-bg-color: #ffee00;
  --optional-team-text-color: black;
  //--optional-team-contrast-color: hsl(
  //    from var(--optional-team-bg-color)
  //    h
  //    0%
  //    calc(
  //      round(calc(abs(60 - mod(h, 120)) / 60))
  //      * calc(100 - round(l, 100))
  //      * 1%
  //    )
  //);

  input[type=text], input[type=password], textarea {
    user-select: auto;
  }
}

@each $step in $size-steps {
  .w-size-#{$step} {
    min-width: var(--size-#{$step});
    max-width: var(--size-#{$step});
  }
  .h-size-#{$step} {
    min-height: var(--size-#{$step});
    max-height: var(--size-#{$step});
  }
}

.bg-left-team {
  background: var(--left-team-bg-color) !important;
}

.text-left-team {
  color: hsl(
      from var(--left-team-bg-color)
      h
      0%
      calc(
        round(calc(abs(60 - mod(h, 120)) / 60))
        * calc(100 - round(l, 100))
        * 1%
      )
  ) !important;
}

.bg-right-team {
  background: var(--right-team-bg-color) !important;
}

.text-right-team {
  color: hsl(
      from var(--right-team-bg-color)
      h
      0%
      calc(
        round(calc(abs(60 - mod(h, 120)) / 60))
        * calc(100 - round(l, 100))
        * 1%
      )
  );
}

.bg-optional-team {
  background: var(--optional-team-bg-color) !important;
}

.text-optional-team {
  color: hsl(
      from var(--optional-team-bg-color)
      h
      0%
      calc(
        round(calc(abs(60 - mod(h, 120)) / 60))
        * calc(100 - round(l, 100))
        * 1%
      )
  );
}

.heading-text, .heading-bold-text {
  font-family: var(--heading-font-family), sans-serif;
  font-stretch: condensed;
}

.heading-bold-text {
  font-weight: 700;
}

.hover-highlight {
  &:hover {
    background: #fff2 !important;
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.fullscreen {
  position: fixed;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  top: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.image-fit {
  object-fit: contain;
  object-position: center;
}

.image-cover {
  object-fit: cover;
  object-position: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.theme-slide-title {
  font-size: var(--size-15);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 5px 5px 10px #000000cc;
  padding: 0 var(--size-10);
}
